<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p>
        <%=homeStartingContent%>
    </p>
    <p>
        <% postCollection.forEach(function(post){ %>
            <h1><%= post.title %> </h1>
            <p>
            <%= post.content.substring(0,250)  %>
            <% if(post.content.length > 250){ %>
                ...
                <a href="/posts/<%=post.title %>">Read More</a>
            <% } %>
            </p> 
        <%})%>
        <br>
        <br>
    </p>
<%- include("partials/footer"); -%>